In [1]:
l = [1,2,3,"pink","vink",52.12]

In [2]:
for i in l:
    print(i)

1
2
3
pink
vink
52.12

In [3]:
for i in l:
    pass

In [4]:
s = "pinka"

In [6]:
for i in s:
    print(i)

p
i
n
k
a

In [7]:
for i in l:
    print(i)
else:
    print("Nothing")

1
2
3
pink
vink
52.12
Nothing

In [11]:
for i in l:
    if i =="vink":
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3
pink

In [12]:
s ="priyanka"

In [14]:
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("print string ...." , s)

p
r
i
y
a

In [15]:
t = (4,5,6,7,8,9,10,11,12,"pink")
for i in t:
    print(i)

4
5
6
7
8
9
10
11
12
pink

In [16]:
b = {1,2,3,45,67,"vinn"}
for i in b:
    print(i)

1
2
67
3
vinn
45

In [17]:
d = {"key1":"pink","contact":5245,"position":"lsjalj"}

In [24]:
for i in d:
    print(i,":",d[i])

key1 : pink
contact : 5245
position : lsjalj

In [25]:
range(9)

range(0, 9)

In [26]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [27]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [28]:
list(range(0,9,-1))

[]

In [29]:
for i in range(5):
    for j in range(0,i+1):
        print("pink",end=" ")
    print("\n")

pink

pink pink

pink pink pink

pink pink pink pink

pink pink pink pink pink

In [32]:
n = 3
for i in range(n+1):
    print(" "*(n-i) + "pink "*i)

  pink
 pink pink
pink pink pink

In [36]:
n  = 3 
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("pink") ,end = " ")
    for j in range(i+1):
        print("pink" ,end=" ")
    for j in range(i):
        print("pink",end=" ")
    print()

          pink
     pink pink pink
pink pink pink pink pink

In [38]:
t = (3,23,45,67,2,4,3,5)
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 3
7 5

In [40]:
s = "ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [43]:
s = "ineuron"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [44]:
d

{'key1': 'pink', 'contact': 5245, 'position': 'lsjalj'}

In [47]:
for i in d.items():
    print(i,type(i))

('key1', 'pink') <class 'tuple'>
('contact', 5245) <class 'tuple'>
('position', 'lsjalj') <class 'tuple'>

In [51]:
l = ["priyanka","bisht",564789,"ljafhier",345,456852]

In [63]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [64]:
l1

[564789, 345, 456852]

In [65]:
d = {1:23456985 , "name" :"priyanka", "emailId": "priynaka@gmail.com",456: "aksdhius",456:"7895"}

In [67]:
for i in d:
    if type(i) == int:
        print(i ,":", d[i])

1 : 23456985
456 : 7895

In [70]:
s = "aaaabbccd"
for i in set(s):
    print(i ,":", s.count(i))

a : 4
c : 2
d : 1
b : 2

In [71]:
i = 123654789852159
for j in str(i):
    print(int(j), type(int(j)))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
8 <class 'int'>
5 <class 'int'>
2 <class 'int'>
1 <class 'int'>
5 <class 'int'>
9 <class 'int'>

In [78]:
t = ("pink","bisht",[1,2,3,4],(3,5,6,7),{3:3,"key2":"bisht"})

In [81]:
for i in t:
    if type(i) == list or type(i) == tuple :
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [82]:
d = {4:5, "key1":"pink","key2":"bisht"}

In [83]:
for i,j in d.items():
    print(i)

4
key1
key2

In [84]:
a = 10
b = 20 
c = 30

In [85]:
a , b , c = 10,20,30

In [86]:
a,b,c = (10,20,30)

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [5]:
for i in range(4):
    for j in range(i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [6]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [7]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [8]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [9]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [10]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [11]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)

In [12]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [13]:
d = {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [14]:
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [15]:
sum(l1)

156

In [16]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [17]:
for i in l1:
    if i % 2 ==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [18]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [19]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j=="ineuron":
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if g == "ineuron":
                    l1.append(g)

In [20]:
l1

['ineuron', 'ineuron']

In [21]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j)==int or type(j) == str:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int or type(g) == str:
                    l1.append(g)

In [22]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [23]:
for i in set(l1):
    print(i, ":",l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
sudh : 1
k3 : 1
8 : 1
data science  : 1
45 : 1
ineuron : 2
kumar : 1
23 : 1
k2 : 1

In [24]:
for i in l:
    if type(i) == dict:
        print(len(list(i.keys())))

5

In [25]:
for i in l:
    if type(i) == dict:
        print(len(i))

5

In [26]:
for i in l1:
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [27]:
for i in l1:
    if type(i) == str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [28]:
l2 = []
j = 1
for i in l1:
    if type(i) == int:
        j = j*i
print(j)

908605071360000

In [29]:
l2

[]

In [31]:
j = 1 
for i in l1:
    if type(i) == int:
        j = j*1
print(j)

1

In [32]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [37]:
for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                m = m * j
        print(type(i), m)
    if type(i) == dict:
        for k in i.items():
            for  n in k:
                if type(n) == int:
                    m = m * n
        print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1